/*******
Header CSS3 
*********/

header {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}

.header__container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

/*******
Call to Action Button 
*********/

.cta {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.header__socials {
  right: 0;
  gap: 1rem;
  top: 25rem;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}


.header__socials ::after {
  content: "";
  max-width: 7px;
  min-width: 5px;
  width: 100%;
  height: 4rem;
  background: var(--color-primary);
}

.header__socials__icon {
  
  transform: scale(1.3);
  flex-direction: column;
  color: var(--color-primary-variant);
  transition: var(--transition);
}


.header__socials__icon:hover {
  transform: scale(2.3);
  flex-direction: column;
  color: var(--color-primary);
}





/*********************
My Image
*****************/

.me {
  background: linear-gradient(var(--color-white), transparent);
  opacity: 95%;
  width: 100%;
  height: 100%;
  right: 0%;
  margin-top: 1rem;
  transform: translateX(-0%);
  border-radius: 30rem 2rem 5rem 5rem;
  padding: 0rem 0rem 0rem 0rem;
  transition: var(--transition);
}

.me:hover{
  background: linear-gradient(var(--color-primary-variant), transparent);
  opacity: 95%;
  width: 100%;
  right: 0%;
  margin-top: 1rem;
  transform: translateX(-0%);
  transform: scale(1.1);
  border-radius: 10rem 10rem 5rem 5rem;
}



/********************* 
Scroll Down 
*****************/

.scroll__down {
  left: 15%;
  gap: 1rem;
  top: 15rem;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 1rem;
  transform: rotate(90deg);
  transition: var(--transition);
}

.scroll__down:hover {
  left: 15%;
  gap: 1rem;
  top: 15rem;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.5rem;
  transform: rotate(90deg);
  color: var(--color-primary);
  transform: scale(1.3);
}

/********************
Butt0ns
*****************/

.btn {
  opacity: 90%;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  border-radius: 1rem;
  width: max-content;
  padding: 0.8em 1.2em;
  transition: all 0.5s;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  transition: var(--transition);
  border: 1px solid var(--color-primary);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.btn:hover {
  opacity: 90%;
  border-radius: 1rem;
  border-color: transparent;
  color: var(--color-background);
  padding: 0.8em 1.2em;
  transform: scale(1.34);
  background-color: #f8f5f6;
  background-image: linear-gradient(315deg, #fdfdfd 0%, #C0C0C0 74%);
}

.btn-primary {
  opacity: 90%;
  padding: 0.8em 1.2em;
  border-radius: 1rem;
  background-color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.btn::before {
  opacity: 90%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  transition: all 0.3s;
}

.btn:hover::before {
  opacity: 90%;
  opacity: 0;
  transform: scale(0.5, 0.5);
  border-radius: 1rem;
}

.btn::after {
  opacity: 90%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  border: 1px solid rgba(255, 168, 168, 0.5);
  transform: scale(1.4, 1.4);
  border-radius: 1rem;
}

.btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 1rem;
}

/*** 
Media Queries 
***/

/*** 
Media Queries for Medium Sized Devices Tablets 
***/

@media screen and (max-width: 1024px) {
  header {
    height: 70vh;
    padding-top: 1rem;
  }
  .me {

    width: 99%;
    height: 97%;
    border-radius: 30rem 2rem 5rem 5rem;

  }
  .me:hover{
    transform: scale(1.1);
    border-radius: 10rem 10rem 5rem 5rem;
  }
  
.scroll__down {
  left: 15%;
  gap: 1rem;
  top: 15rem;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 0.9rem;
  transform: rotate(90deg);
  transition: var(--transition);
}

.scroll__down:hover {
  left: 15%;
  gap: 1rem;
  top: 15rem;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.1rem;
  transform: rotate(90deg);
  color: var(--color-primary);
  transform: scale(1.3);
}
}

/*** Media Queries for Small Devices Mobile Phones ***/

@media screen and (max-width: 600px) {
  header {
    height: 97vh;
  }

  .me {
    width: 100%;
    height: 55%;
  }

  .scroll__down {
    left: 7%;
    gap: 1rem;
    top: 10rem;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 0.7rem;
    transform: rotate(90deg);
  }

  .scroll__down:hover {
    left: 7%;
    gap: 1rem;
    top: 10rem;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 0.7rem;
    transform: rotate(90deg);
    color: var(--color-primary);
  }

  .header__socials__icon, big {
  
    transform: scale(0.7);
    flex-direction: column;
    color: var(--color-primary-variant);
    transition: var(--transition);
  }
  .header__socials {
    right:  -5%;
    gap: 1rem;
    padding: 1rem;
    top: 7rem;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color-primary-variant);
  }
  .header__socials :hover {
    right:  -5%;
    padding: 1rem;
    gap: 1rem;
    top: 7rem;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color-primary);

  }

}
