footer {
  font-size: 1rem;
  text-align: center;
  margin-top: 5rem;
  padding: 2.8rem 0rem;
  background: var(--color-primary);
  position: absolute;
  width: 100%;
  scroll-behavior: auto;
}

footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.perma__links {
  gap: 2rem;
  margin: 0rem auto 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.footer__socials a{
  background-color: var(--color-bg-variant);
  color: var(--color-primary-variant);
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  border: 1px solid transparent;
  transition: var(--transition);
}



.footer__socials a:hover{
  background: transparent;
  transform: scale(3);
  color: var(--color-light);

}


.footer__copyright {
  text-align: center;
  color: var(--color-bg);
}

/*** Media Queries for Medium Devices Tablets ***/

@media screen and (max-width: 1024px) {
  .footer__copyright {
    text-align: center;
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 1920px) {
  .footer__copyright {
    text-align: center;
    margin-bottom: 10rem;
  }
}

/*** Media Queries for Small Devices Mobile Phones ***/

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
